Datasets/
.DS_Store
**/.DS_Store
ca.pem
**/*.ttl
**/*.locind
espressetest.py
*test.py
zipdirSServerlabel*/
inputs_outputs_experimenttemplate.txt
get-pip.py
__pycache__/
__pycache__/*.*.pyc
*.pyc
*/DatasetSplitter/sourcedir*/
*/DatasetSplitter/testsource*/
Automation/CSSAccess/__pycache__/*.*.pyc
GaianDB/GaianDB_Keyword_Search_Build/*.log
GaianDB/GaianHelen/GaianHelen/gaiandb.log
GaianDB/GaianHelen/GaianHelen/gaiandb-previous.log
GaianDB/GaianHelen/GaianHelen/derby.log
Indexer/__pycache__/*.*.pyc
Lucene/Indexer.bak
Lucene/luceneindex/
Lucene/lucenetestsource/*.*
Tests/test_flexexperiment.bak
data/
testzipdirs/